.search__wrapper {
  display: flex;
  border-bottom: 1px solid #CCCCCC
}

.search__wrapper > input {
  width: 50px;
  border: none;
  margin-left: 10px;
  font-size: 12px;
}


@media (min-width: 0px) and (max-width: 450px) {

  .search__wrapper > input{
    display: none
  }

  .search__wrapper {
    border-bottom: none
  }

}
